{{- $hosttype := get . "hosttype" | default "server" -}}
{{- if not (and (eq .chezmoi.os "linux") (eq $hosttype "server")) -}}
[source_code_pro]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/SourceCodePro.zip"
    exact = false
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["**/SauceCodeProNerdFont-*.ttf"]
{{- $fontsPath := "Library/Fonts" -}}
{{- if eq .chezmoi.os "linux" -}}
{{- $fontsPath = ".local/share/fonts" -}}
{{ end }}
    targetPath = {{ $fontsPath | quote }}
{{- end }}