[".vim/autoload/plug.vim"]
  type = "file"
  url = "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
  refreshPeriod = "168h"
{{ if eq .chezmoi.os "linux" -}}
[".local/bin/eza"]
  type = "archive-file"
  url = "https://github.com/eza-community/eza/releases/download/v0.23.4/eza_x86_64-unknown-linux-gnu.tar.gz"
  executable = true
  path = "./eza"
  refreshPeriod = "168h"
{{ end }}
