#!/bin/bash

{{ if eq .chezmoi.os "darwin" -}}
export GOBIN="$HOME/.local/bin"
export PATH="$PATH:/opt/homebrew/bin:/opt/homebrew/sbin:$HOME/.asdf/shims:$GOBIN"

if ! command -v brew >/dev/null 2>&1; then
  echo "Installing Homebrew..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  eval "$(/opt/homebrew/bin/brew shellenv)"
else
  eval "$(brew shellenv)"
fi

echo "Installing Homebrew bundle..."
brew upgrade
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

echo "Installing asdf plugins..."
{{ range .packages.darwin.asdf -}}
asdf plugin add {{ .name }} \
  && asdf install {{ .name }} {{ .version }} \
  && asdf set -u {{ .name }} {{ .version }}
{{ end }}

echo "Installing global npm packages..."
npm install -g {{ range .packages.darwin.npm -}}{{ . | quote }} {{ end }}

{{- else if eq .chezmoi.os "linux" -}}
mkdir -p "$HOME/.local/bin"

echo "Installing apt packages..."
sudo apt-get update && sudo apt-get upgrade -y
sudo apt install -y \
  {{ join " \\\n  " .packages.linux.apt }}

if ! command -v docker >/dev/null 2>&1; then
  echo "Installing docker..."

  # Add Docker's official GPG key:
  sudo apt-get update
  sudo apt-get install ca-certificates curl
  sudo install -m 0755 -d /etc/apt/keyrings
  sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
  sudo chmod a+r /etc/apt/keyrings/docker.asc

  # Add the repository to Apt sources:
  sudo tee /etc/apt/sources.list.d/docker.sources <<EOF
  Types: deb
  URIs: https://download.docker.com/linux/ubuntu
  Suites: $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}")
  Components: stable
  Architectures: $(dpkg --print-architecture)
  Signed-By: /etc/apt/keyrings/docker.asc
  EOF

  sudo apt-get update
  sudo apt-get install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
fi

if ! command -v starship >/dev/null 2>&1; then
  echo "Installing starship..."
  curl -sS https://starship.rs/install.sh | sh
fi

export ZDOTDIR=$HOME/.config/zsh
if [ -d "$ZDOTDIR/.antidote" ]; then
  echo "Updating antidote..."
  git -C "$ZDOTDIR/.antidote" pull --ff-only
else
  echo "Installing antidote..."
  git clone --depth=1 https://github.com/mattmc3/antidote.git "$ZDOTDIR/.antidote"
fi
{{ end -}}
