#!/bin/bash

{{ if eq .chezmoi.os "darwin" -}}
export GOBIN="$HOME/.local/bin"
export PATH="$PATH:/opt/homebrew/bin:/opt/homebrew/sbin:$HOME/.asdf/shims:$GOBIN"

if ! command -v brew >/dev/null 2>&1; then
  echo "Installing Homebrew..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  eval "$(/opt/homebrew/bin/brew shellenv)"
else
  eval "$(brew shellenv)"
fi

echo "Installing Homebrew bundle..."
brew upgrade
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

echo "Installing asdf plugins..."
{{ range .packages.darwin.asdf -}}
asdf plugin add {{ .name }} \
  && asdf install {{ .name }} {{ .version }} \
  && asdf set -u {{ .name }} {{ .version }}
{{ end }}

echo "Installing global npm packages..."
npm install -g {{ range .packages.darwin.npm -}}{{ . | quote }} {{ end }}

{{- else if eq .chezmoi.os "linux" -}}
echo "Installing apt packages..."
sudo apt-get update && sudo apt-get upgrade -y
sudo apt install -y \
  {{ join " \\\n  " .packages.linux.apt }}

echo "Installing antidote..."
export ZDOTDIR=$HOME/.config/zsh
if [ -d "$ZDOTDIR/.antidote" ]; then
  git -C "$ZDOTDIR/.antidote" pull --ff-only
else
  git clone --depth=1 https://github.com/mattmc3/antidote.git "$ZDOTDIR/.antidote"
fi
{{ end -}}
