{{- $hosttype := get . "hosttype" | default "server" -}}
{{- if eq $hosttype "workstation" -}}
{{- $company := get . "company" | default "" -}}
{
  "folders": [
	{
		"name": "Developer",
		"path": "Developer"
	},
	{{ if ne $company "" -}}
	{
		"name": "{{ $company }}",
		"path": "{{ $company }}"
	},
	{{- end -}}
	{
		"name": "chezmoi",
		"path": ".local/share/chezmoi"
	}
],
  "settings": {}
}
{{- end }}
